{% extends "layouts/base.html" %}

{% block title %} Image Data   {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card border-light shadow-sm mb-4 mt-4">
    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
            <div class="h5 fw-normal mb-2">All Sensor Data</div>
        </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0 rounded">
              <thead class="thead-light">
                <tr>
                  <th>Vehicle</th>
                  <th>Location x</th>
                  <th>Location y</th>
                  <th>GNSS Latitude</th>
                  <th>GNSS Longitude</th>
                  <th>Speed (km/h)</th>
                  <th>No. of lane violat...</th>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tesla Model3</td>
                  <td>32.992610931396484</td>
                  <td>-67.89999389648438</td>
                  <td>0.0006099523221223535</td>
                  <td>0.0002873944966516231</td>
                  <td>0.032372864721836835</td>
                  <td>0</td>
                </tr>
            </table>
          </div>
        </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}