{% extends "layouts/base.html" %}

{% block title %} Reload Amount {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<br><br>
<h2>Reload Amount</h2>
        <div style="width: 40%;">
            <div class="card border-light shadow-sm" >
                <div class="card-body">
                    <h5>Pay with</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Credit Card
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Debit Card
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios3">
                          PayPal
                        </label>
                      </div>
                    <h5>Amount</h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
{#                            <form action="/reloadAmount" enctype="multipart/form-data">#}
                            <form action="/transactions" method="post" enctype="multipart/form-data">
                            <input type="text" class="form-control" name="add_amount" placeholder="0.00" />
                            <br>
                            <button class="btn btn-primary">Add Amount</button>
                            </form>
{#                            </form>#}
                        </div>
                </div>
            </div>
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}