{% extends "layouts/base.html" %}

{% block title %} Image Data   {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card border-light shadow-sm mb-4 mt-4">
    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
            <div class="h5 fw-normal mb-2">All Sensor Data</div>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
          <th>Server FPS</th>
          <th>Client FPS</th>
          <th>Vehicle</th>
          <th>Map</th>
          <th>Weather</th>
          <th>Lighting</th>
          <th>Simulation time</th>
          <th>Lighting</th>
          <th>Speed (km/h)</th>
          <th>Heading</th>
        </tr>
      </table>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}