{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card border-light shadow-sm mb-4 mt-4">
    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
            <div class="h5 fw-normal mb-2">All Car Images</div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <p>Click on the filename to download it.</p>
            <ul>
              {% for item in contents %}
                <li>
                  <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
                </li>
              {% endfor %}
            </ul>
          </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}